<h1>ToDo Lists</h1>
<%= List.count %>

<% @lists.each do |list| %>
    <h2><%= list.title %></h2>
    <p>Get Done By:<br/>
    <%= list.date %></p>
    <% list.tasks.all.each do |task| %>
        <ul>
            <li><%= task.title %></li>
        </ul>
    <% end %>

    <button><%= link_to "Delete List", list, :method => :delete, :confirm => "Deleting a list deletes all tasks in that list. Are you sure?" %></button><br /><br />


    <%= form_for @task do |f| %>
        <%= f.label :title %>
        <%= f.hidden_field :list, :value => list.id %>
        <%= f.text_field :title %>
        <%= f.submit "Add Task" %>
    <% end %>

<%- end %>

<p>Create a New ToDo List</p>
<%= form_for @list do |f| %>
  <%= f.label :title, "Add a new list" %>
  <%= f.text_field :title %>
  <%= f.label :date, "Set due date" %>
  <%= f.text_field :date %>
  <%= f.submit "Submit List" %>
<% end %>